body{
    overflow-y: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55px;
    background-color: #F3F3F3;
    align-items: center;
}
.perfil{
    width: auto;
    height: 36px;
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.perfil img{
    height: 36px;
    width: 36px;
    border-radius: 5px;
}
.perfil .nome{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    color: #4C4C4C;
}
.perfil p:first-child{
    font-weight: 700;
    opacity: 95%;
    font-size: 14px;
    text-transform: uppercase
}
.perfil p:last-child{
    font-weight: 700;
    opacity: 95%;
    font-size: 12px;
}
.perfil-active{
    height: 100vh;
    width: 25vw;
    position: fixed;
    right: 0;
    z-index: 1;
    background-color: #F3F3F3;
    display:none;
    flex-direction: column;
    align-items: center;
}
.perfil-active .img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 25px;
}
.perfil-active .img img{
    height: 90px;
    width: 90px;
    border-radius: 100%;
    object-fit: cover;
}
.perfil-active .nome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfil-active .nome p:first-child{
    font-weight: 700;
    color: #272727;
    font-size: 16px;
    text-transform: uppercase;
}
.perfil-active .nome p:last-child{
    font-weight: 700;
    opacity: 95%;
    font-size: 14px;
    text-transform: none;
    margin-top: 15px;
}
.perfil-active .sair{
    height: 30px;
    width: 110px;
    margin-top: 25px;
    background-color: #4E73E3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perfil-active .sair:last-child{
    height: 30px;
    width: 110px;
    margin-top: 25px;
    background-color: 	#F3F3F3;
    border: 1px solid #4E73E3;
    border-radius: 5px;
    color: #4E73E3;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftbar{
    width: 70px;
    height: 100%;
    background-color: #4E73DF;
    position: fixed;
    z-index: 1;
}
.leftbar .item:first-child{
    border-bottom: none;
}
.leftbar .item:last-child{
    border-bottom: none;
}
.leftbar .item{
    border-bottom: 0.5px solid #e7e7e7;
}
.leftbar .item{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border-top: 1px solid #272727; */
}
.leftbar .item img{
    height: 35px;
}
.leftbar .item p{
    display: none;
}
.leftbar .item img:last-child{
    display: none;
}
.leftbar:hover{
    width: 200px;
    -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}
.leftbar:hover .item{
    align-items: center;
    justify-content: initial;
}
.leftbar:hover .item span{
    margin-left: 15px;
    margin-right: 15px;
}
.leftbar:hover .item img{
    margin-left: 15px;
    margin-right: 15px;
}
.leftbar:hover .item p{
    display: initial;
    font-weight: 700;
    color: #EAECF4;
    opacity: 95%;
}
.leftbar:hover .item img:last-child{
    display: initial;
    opacity: 95%;
}
.leftbar .line{
    height: 0.5px;
    width: 100%;
    display: block;
    background-color: #e7e7e7;
}
.main{
    width: calc(100% - 90px);
    height: calc(100% - 55px);
    background-color: #F8F9FC;
    margin-left: 70px;
}
.topo{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
}
.diretorio{
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EAECF4;
    border-radius: 5px;
    margin-left: 30px;
}
.diretorio p{
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}
.diretorio a{
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
}
.topo #criar-proposta{
    margin-left: auto;
    margin-right: 80px;
    float: right;
    height: 40px;
    width: 200px;
    background-color: #22C4EB;
    border: none;
    border-bottom: 3px solid #139CC9;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.topo #criar-proposta:hover{
    opacity: 91%;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-15 9:14:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  

/*  Proposta */

table{
    width: calc(100% - 160px);
    height: auto;
    max-height: 500px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 25px;
    overflow: auto;
    border-collapse: collapse;
}
tr{
    max-height: 70px;
    margin-bottom: 5px;
}
td{
    height: 50px;
}
#linha{
    opacity: 100%;
    border: 1px solid #acaeb5;
}
/* #linha:hover{
    opacity: 100%;
    border-spacing: 5px;
} */
.dropdown-content{
    margin-top: auto;
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    height: 80px;
    width: 100px;
    right: 100px;
    border: 1px solid #acaeb5;
    border-radius: 5px;
}
.dropdown-content a{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 800; 
    color: #4E73DF;
}
.dropdown-content a:hover{
    opacity: 75%;
}
.dropdown:hover .dropdown-content{
    display: flex;
}
#aceita{
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    margin-top: 8px;
    background-color: #22ECAC;
    font-weight: 700;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border-bottom: 3px solid #0ACD8F;
}
#recusada{
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    margin-top: 8px;
    background-color: #EB2348;
    font-weight: 700;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border-bottom: 3px solid #BE1536;
}
#pendente{
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    margin-top: 8px;
    background-color: #A223EA;
    font-weight: 700;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border-bottom: 3px solid #8821C6;
}